*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: "Arimo", "Karla", sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #fff;
}