*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Arimo", "Karla", sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #fff;
    transition: 0.3s, color 0.3s;
}

.logo {
    width: 8rem;
    height: 8rem;
}

button:hover {
    cursor: pointer;
}

/*DM Header*/
.DMHeader {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 2rem 4rem;
    height: 2rem;
    border-bottom: 0.1rem solid #ddd;
}

.DMHeaderNavBar {
    display: flex;
    margin-left: 120rem;
}

.DMHeaderNavBar li {
    list-style: none;
    padding: 0 2rem;
}

.DMHeaderNavBar li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    font-size: 1.2rem;
}

/*Header*/
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    margin-bottom: -2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.navbar li {
    list-style: none;
    padding: 0 2rem;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.navbar li a:hover {
    text-decoration: underline;
}

/*SearchBar*/
.search-container {
    position: relative;
    width: 40px;
    margin: 0 auto;
    transition: width 0.4s ease-in-out;
}

.search-container input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    transition: width 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.search-container.expanded {
    width: 300px;
}

.search-container.expanded input {
    opacity: 1;
    visibility: visible;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*Filter*/
.container {
    display: flex;
}

.sidebar {
    width: 20rem;
    padding: 2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    flex-grow: 1;
}

.product {
    width: 30%;
    padding: 2rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s;
    display: none;
}

.product img {
    margin-left: 15rem;
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}

.product h3,p{
    margin-left: 15rem;
}

.product:hover {
    transform: scale(1.05);
}

.product-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.product-details .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2.4rem;
}

.filter-active {
    font-weight: bold;
    color: #000;
}

[data-category~="all"] {
    display: block;
}

/*Footer*/
footer {
    background-color: #f5e6e1;
    color: #000;
    padding: 2rem 2rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40rem;
    margin-bottom: 2rem;
}

.footer-logo>img {
    width: 20rem;
    height: 20rem;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-newsletter>h4 {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    float: left;
    font-weight: 700;
}

.footer-newsletter>button {
    background-color: #212121;
    color: #ffffff;
    border: none;
    padding: 1rem 5rem;
    font-size: 1rem;
    text-transform: uppercase;
    float: left;
    display: flex;
    justify-content: center;
    width: 10rem;
    letter-spacing: 0.1rem;
}

.EmailFooter {
    display: flex;
    border-bottom: 0.2rem solid rgba(177, 177, 177, 0.5);
    margin-bottom: 2rem;
    gap: 0.5rem;
    padding: 0 5rem;
    padding-left: 0;
}

.EmailFooter>span {
    font-size: 1.8rem;
    color: #949494;
}

.EmailFooter>input {
    width: 100%;
    background: transparent;
    color: #9b9b9b;
    border: 0;
    outline: none;
}

.FooterSection {
    display: flex;
    justify-content: center;
    padding: 1rem 25rem;
}

.footer-section {
    flex: 1 1 20%;
}

.footer-section h5 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #000;
    text-transform: uppercase;
}

.footer-section p {
    font-size: 1.2rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    transition: color 0.3s;
    font-size: 1.2rem;
}

.footer-section ul li a:hover {
    color: #333;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 1.4rem;
}

/* Dark Mode Styles */
.dark-mode {
    background: #333;
    color: #fff;
}

.dark-mode .DMHeader {
    background-color: #333;
}

.dark-mode .DMHeaderNavBar li a {
    color: rgba(255, 255, 255, 0.7);
}

.dark-mode .header {
    background-color: #333;
}

.dark-mode .navbar li a {
    color: rgba(255, 255, 255, 0.7);
}

.dark-mode .hero_heading_H1 {
    color: #fff;
}

.dark-mode h2,
.dark-mode p,
.dark-mode label,
.dark-mode a {
    color: #fff;
}

.dark-mode .Aanmelden {
    background-color: #fff;
    color: #000;
}

.dark-mode .filter-active {
    font-weight: bold;
    color: pink;
}

/*Responsive*/
@media screen and (max-width:62.5rem) {
    html {
        width: 100%;
        font-size: 55%;
    }

    .logo {
        display: none;
    }

    .DMHeaderNavBar {
        margin-left: 60rem;
    }

    .header {
        padding: 0;
    }

    .footer-container {
        padding: 2rem;
    }

    .FooterSection {
        padding: 0;
    }

    .product img{
        width: 15rem;
        height: 15rem;
        margin: 0;
    }

    .product h3,p{
        margin: 0;
    }

    
}